node_modules/
.venv/
map downloads/
data/
.DS_Store
~$*
*.HEIC
.claude/settings.local.json
admin.html

# Ignore all photos except those used on city pages
photos/*
!photos/scotland/
!photos/japan/

photos/scotland/*
!photos/scotland/fort-william/
!photos/scotland/edinburgh/
!photos/scotland/inverness/

photos/scotland/fort-william/*
!photos/scotland/fort-william/nevis-bank-inn-browns-restaurant/
!photos/scotland/fort-william/the-geographer/
!photos/scotland/fort-william/ben-nevis/
!photos/scotland/fort-william/glenfinnan-viaduct/
!photos/scotland/fort-william/ben-nevis-visitor-centre/
photos/scotland/fort-william/nevis-bank-inn-browns-restaurant/*
!photos/scotland/fort-william/nevis-bank-inn-browns-restaurant/IMG_9037.jpeg
!photos/scotland/fort-william/nevis-bank-inn-browns-restaurant/IMG_8994.jpeg
photos/scotland/fort-william/the-geographer/*
!photos/scotland/fort-william/the-geographer/IMG_9032.jpeg
photos/scotland/fort-william/ben-nevis/*
!photos/scotland/fort-william/ben-nevis/IMG_9008.jpeg
photos/scotland/fort-william/glenfinnan-viaduct/*
!photos/scotland/fort-william/glenfinnan-viaduct/glenfinnan-viaduct-unsplash.jpg
photos/scotland/fort-william/ben-nevis-visitor-centre/*
!photos/scotland/fort-william/ben-nevis-visitor-centre/IMG_8997.jpeg

photos/scotland/edinburgh/*
!photos/scotland/edinburgh/waldorf-astoria-edinburgh/
!photos/scotland/edinburgh/lyla/
!photos/scotland/edinburgh/noto/
!photos/scotland/edinburgh/tipo/
!photos/scotland/edinburgh/tupiniquim/
!photos/scotland/edinburgh/edinburgh-castle/
!photos/scotland/edinburgh/arthurs-seat/
!photos/scotland/edinburgh/greyfriars-bobbys-grave/
photos/scotland/edinburgh/waldorf-astoria-edinburgh/*
!photos/scotland/edinburgh/waldorf-astoria-edinburgh/caledonian-exterior.jpg
photos/scotland/edinburgh/lyla/*
!photos/scotland/edinburgh/lyla/IMG_9560.jpeg
photos/scotland/edinburgh/noto/*
!photos/scotland/edinburgh/noto/IMG_9481.jpeg
photos/scotland/edinburgh/tipo/*
!photos/scotland/edinburgh/tipo/IMG_9534.jpeg
photos/scotland/edinburgh/tupiniquim/*
!photos/scotland/edinburgh/tupiniquim/IMG_9461.jpeg
photos/scotland/edinburgh/edinburgh-castle/*
!photos/scotland/edinburgh/edinburgh-castle/IMG_9438.jpeg
photos/scotland/edinburgh/arthurs-seat/*
!photos/scotland/edinburgh/arthurs-seat/IMG_9515.jpeg
photos/scotland/edinburgh/greyfriars-bobbys-grave/*
!photos/scotland/edinburgh/greyfriars-bobbys-grave/IMG_9547.jpeg

photos/scotland/inverness/*
!photos/scotland/inverness/pizza-express/
!photos/scotland/inverness/bught-park-pitches-highland-games/
!photos/scotland/inverness/the-redshank-victorian-market/
!photos/scotland/inverness/loch-ness/
photos/scotland/inverness/pizza-express/*
!photos/scotland/inverness/pizza-express/IMG_9370.jpeg
photos/scotland/inverness/bught-park-pitches-highland-games/*
!photos/scotland/inverness/bught-park-pitches-highland-games/IMG_9380.jpeg
photos/scotland/inverness/the-redshank-victorian-market/*
!photos/scotland/inverness/the-redshank-victorian-market/IMG_9398.jpeg
photos/scotland/inverness/loch-ness/*
!photos/scotland/inverness/loch-ness/loch-ness-unsplash.jpg

photos/japan/*
!photos/japan/tokyo/
!photos/japan/osaka/
photos/japan/tokyo/*
!photos/japan/tokyo/tokyu-stay-aoyama-premier/
!photos/japan/tokyo/the-okura-tokyo/
!photos/japan/tokyo/gluten-free-ts-kitchen/
!photos/japan/tokyo/gluten-free-kushiage-su/
!photos/japan/tokyo/sushi-korin-nishiazabu/
!photos/japan/tokyo/breizh-café-crêperie-omotesando/
!photos/japan/tokyo/kuroboshi-sweets-asakusa/
!photos/japan/tokyo/meiji-jingu-consecrated-sake-barrels/
!photos/japan/tokyo/gōtokuji-temple/
!photos/japan/tokyo/shibuya-scramble-crossing/
!photos/japan/tokyo/hachikō-memorial-statue/
photos/japan/tokyo/tokyu-stay-aoyama-premier/*
!photos/japan/tokyo/tokyu-stay-aoyama-premier/IMG_0527.jpeg
photos/japan/tokyo/the-okura-tokyo/*
!photos/japan/tokyo/the-okura-tokyo/IMG_1254.jpeg
photos/japan/tokyo/gluten-free-ts-kitchen/*
!photos/japan/tokyo/gluten-free-ts-kitchen/IMG_0543.jpeg
photos/japan/tokyo/gluten-free-kushiage-su/*
!photos/japan/tokyo/gluten-free-kushiage-su/IMG_0445.jpeg
photos/japan/tokyo/sushi-korin-nishiazabu/*
!photos/japan/tokyo/sushi-korin-nishiazabu/IMG_0467.jpeg
photos/japan/tokyo/breizh-café-crêperie-omotesando/*
!photos/japan/tokyo/breizh-café-crêperie-omotesando/IMG_0607.jpeg
photos/japan/tokyo/kuroboshi-sweets-asakusa/*
!photos/japan/tokyo/kuroboshi-sweets-asakusa/IMG_1272.jpeg
photos/japan/tokyo/meiji-jingu-consecrated-sake-barrels/*
!photos/japan/tokyo/meiji-jingu-consecrated-sake-barrels/IMG_0413.jpeg
photos/japan/tokyo/gōtokuji-temple/*
!photos/japan/tokyo/gōtokuji-temple/IMG_0431.jpeg
photos/japan/tokyo/shibuya-scramble-crossing/*
!photos/japan/tokyo/shibuya-scramble-crossing/IMG_0555.jpeg
photos/japan/tokyo/hachikō-memorial-statue/*
!photos/japan/tokyo/hachikō-memorial-statue/IMG_0554.jpeg

photos/japan/osaka/*
!photos/japan/osaka/comeconoco-gluten-free-laboratory-cafe-大阪天満橋店-グルテンフリー米粉専門店米粉菓子教室/
!photos/japan/osaka/mercure-tokyu-stay/
!photos/japan/osaka/namba-yasaka-jinja/
!photos/japan/osaka/osaka-castle/
photos/japan/osaka/comeconoco-gluten-free-laboratory-cafe-大阪天満橋店-グルテンフリー米粉専門店米粉菓子教室/*
!photos/japan/osaka/comeconoco-gluten-free-laboratory-cafe-大阪天満橋店-グルテンフリー米粉専門店米粉菓子教室/IMG_1250.jpeg
photos/japan/osaka/mercure-tokyu-stay/*
!photos/japan/osaka/mercure-tokyu-stay/dotonbori-namba.jpeg
photos/japan/osaka/namba-yasaka-jinja/*
!photos/japan/osaka/namba-yasaka-jinja/namba-yasaka-shrine.jpeg
photos/japan/osaka/osaka-castle/*
!photos/japan/osaka/osaka-castle/osaka-castle.jpeg

!photos/italy/
photos/italy/*
!photos/italy/rome/
photos/italy/rome/*
!photos/italy/rome/best-western-hotel-president/
!photos/italy/rome/mama-eat-roma/
!photos/italy/rome/grom/
!photos/italy/rome/la-soffitta-renovatio/
!photos/italy/rome/hosteria-del-mercato/
!photos/italy/rome/pantha-rei/
!photos/italy/rome/pub-cuccagna/
!photos/italy/rome/colosseum/
!photos/italy/rome/roman-forum/
!photos/italy/rome/pantheon/
!photos/italy/rome/trevi-fountain/
!photos/italy/rome/spanish-steps/
!photos/italy/rome/piazza-navona/
!photos/italy/rome/st-peters-basilica/
!photos/italy/rome/church-of-st-louis-of-the-french/
!photos/italy/rome/sistine-chapel/
!photos/italy/rome/castel-santangelo/
!photos/italy/rome/stadio-olimpico/
photos/italy/rome/best-western-hotel-president/*
!photos/italy/rome/best-western-hotel-president/IMG_0775.jpeg
photos/italy/rome/mama-eat-roma/*
!photos/italy/rome/mama-eat-roma/IMG_0954.jpeg
photos/italy/rome/grom/*
!photos/italy/rome/grom/IMG_0947.jpeg
photos/italy/rome/la-soffitta-renovatio/*
!photos/italy/rome/la-soffitta-renovatio/IMG_0871.jpeg
photos/italy/rome/hosteria-del-mercato/*
!photos/italy/rome/hosteria-del-mercato/IMG_0827.jpeg
photos/italy/rome/pantha-rei/*
!photos/italy/rome/pantha-rei/IMG_0805.jpeg
photos/italy/rome/pub-cuccagna/*
!photos/italy/rome/pub-cuccagna/IMG_0931.jpeg
photos/italy/rome/colosseum/*
!photos/italy/rome/colosseum/IMG_0794.jpeg
!photos/italy/rome/colosseum/IMG_0732.jpeg
photos/italy/rome/roman-forum/*
!photos/italy/rome/roman-forum/IMG_0774.jpeg
photos/italy/rome/pantheon/*
!photos/italy/rome/pantheon/IMG_0807.jpeg
photos/italy/rome/trevi-fountain/*
!photos/italy/rome/trevi-fountain/IMG_0811.jpeg
photos/italy/rome/spanish-steps/*
!photos/italy/rome/spanish-steps/IMG_0822.jpeg
photos/italy/rome/piazza-navona/*
!photos/italy/rome/piazza-navona/IMG_0941.jpeg
photos/italy/rome/st-peters-basilica/*
!photos/italy/rome/st-peters-basilica/IMG_0920.jpeg
photos/italy/rome/church-of-st-louis-of-the-french/*
!photos/italy/rome/church-of-st-louis-of-the-french/IMG_0950.jpeg
photos/italy/rome/sistine-chapel/*
!photos/italy/rome/sistine-chapel/IMG_0856.jpeg
photos/italy/rome/castel-santangelo/*
!photos/italy/rome/castel-santangelo/IMG_0928.jpeg
photos/italy/rome/stadio-olimpico/*
!photos/italy/rome/stadio-olimpico/IMG_0709.jpeg
